<div class="main-container">
    <!-- app bar -->
    <mat-toolbar>
        <button mat-icon-button color="primary" class="example-icon" (click)="utilService.goBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span>Add Queue</span>
    </mat-toolbar>
    <!-- main content -->
    <div class="container-fluid">
        <mat-accordion class="example-headers-align">
            <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h6 class="text-primary">
                            <span>Queue Information</span>
                        </h6>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <form [formGroup]="qIFormGroup">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <!-- child row -->
                                <div class="row">
                                    <div class="col-12 col-lg-12 col-xl-12">
                                        <mat-form-field appearance="fill" class="w-100">
                                            <mat-label>Queue Name</mat-label>
                                            <input matInput placeholder="Queue Name">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-lg-12 col-xl-12">
                                        <mat-form-field appearance="fill" class="w-100">
                                            <mat-label>Queue Description</mat-label>
                                            <input matInput placeholder="Queue Description">
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12 col-lg-12 col-xl-12">
                                        <mat-form-field appearance="fill" class="w-100">
                                            <mat-label>Business Group</mat-label>
                                            <mat-select>
                                                <mat-option>
                                                    Select
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-12"></div>
                                    <div class="col-12 col-lg-4 col-xl-3 pb-4">
                                        <label class="d-block">Active</label>
                                        <mat-slide-toggle>
                                            <span>Yes</span>
                                            <span>No</span>
                                        </mat-slide-toggle>
                                    </div>
                                    <div class="col-12"></div>
                                    <div class="col-12 col-lg-4 col-xl-3 pb-4">
                                        <label class="d-block">FIFO enables (Yes/No)</label>
                                        <mat-slide-toggle>
                                            <span>Yes</span>
                                            <span>No</span>
                                        </mat-slide-toggle>
                                    </div>
                                    <div class="col-12">
                                        <mat-form-field appearance="fill" class="w-100">
                                            <mat-label>Queue Notification Recipients</mat-label>
                                            <textarea matInput placeholder="Queue Notification Recipients"></textarea>
                                        </mat-form-field>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="row">
                                    <div class="col-12">
                                        <h6 class="text-primary">Distribution Schedule</h6>
                                    </div>
                                    <div class="col-12">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Select</th>
                                                    <th>Day of week</th>
                                                    <th width="120">start time</th>
                                                    <th width="120">end time</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <mat-slide-toggle>
                                                            <span>Yes</span>
                                                            <span>No</span>
                                                        </mat-slide-toggle>
                                                    </td>
                                                    <td>Monday</td>
                                                    <td>
                                                        <input [ngxTimepicker]="msPicker" placeholder="start time">
                                                        <ngx-material-timepicker #msPicker></ngx-material-timepicker>
                                                    </td>
                                                    <td>
                                                        <input [ngxTimepicker]="mePicker" placeholder="end time">
                                                        <ngx-material-timepicker #mePicker></ngx-material-timepicker>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <mat-slide-toggle>
                                                            <span>Yes</span>
                                                            <span>No</span>
                                                        </mat-slide-toggle>
                                                    </td>
                                                    <td>Tuesday</td>
                                                    <td>
                                                        <input [ngxTimepicker]="tsPicker" placeholder="start time">
                                                        <ngx-material-timepicker #tsPicker></ngx-material-timepicker>
                                                    </td>
                                                    <td>
                                                        <input [ngxTimepicker]="tePicker" placeholder="end time">
                                                        <ngx-material-timepicker #tePicker></ngx-material-timepicker>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <mat-slide-toggle>
                                                            <span>Yes</span>
                                                            <span>No</span>
                                                        </mat-slide-toggle>
                                                    </td>
                                                    <td>Wednesday</td>
                                                    <td>
                                                        <input [ngxTimepicker]="wsPicker" placeholder="start time">
                                                        <ngx-material-timepicker #wsPicker></ngx-material-timepicker>
                                                    </td>
                                                    <td>
                                                        <input [ngxTimepicker]="wePicker" placeholder="end time">
                                                        <ngx-material-timepicker #wePicker></ngx-material-timepicker>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <mat-slide-toggle>
                                                            <span>Yes</span>
                                                            <span>No</span>
                                                        </mat-slide-toggle>
                                                    </td>
                                                    <td>Thursday</td>
                                                    <td>
                                                        <input [ngxTimepicker]="thsPicker" placeholder="start time">
                                                        <ngx-material-timepicker #thsPicker></ngx-material-timepicker>
                                                    </td>
                                                    <td>
                                                        <input [ngxTimepicker]="thePicker" placeholder="end time">
                                                        <ngx-material-timepicker #thePicker></ngx-material-timepicker>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <mat-slide-toggle>
                                                            <span>Yes</span>
                                                            <span>No</span>
                                                        </mat-slide-toggle>
                                                    </td>
                                                    <td>Friday</td>
                                                    <td>
                                                        <input [ngxTimepicker]="fsPicker" placeholder="start time">
                                                        <ngx-material-timepicker #fsPicker></ngx-material-timepicker>
                                                    </td>
                                                    <td>
                                                        <input [ngxTimepicker]="fePicker" placeholder="end time">
                                                        <ngx-material-timepicker #fePicker></ngx-material-timepicker>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <mat-slide-toggle>
                                                            <span>Yes</span>
                                                            <span>No</span>
                                                        </mat-slide-toggle>
                                                    </td>
                                                    <td>Saturday</td>
                                                    <td>
                                                        <input [ngxTimepicker]="ssPicker" placeholder="start time">
                                                        <ngx-material-timepicker #ssPicker></ngx-material-timepicker>
                                                    </td>
                                                    <td>
                                                        <input [ngxTimepicker]="sePicker" placeholder="end time">
                                                        <ngx-material-timepicker #sePicker></ngx-material-timepicker>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <mat-slide-toggle>
                                                            <span>Yes</span>
                                                            <span>No</span>
                                                        </mat-slide-toggle>
                                                    </td>
                                                    <td>Sunday</td>
                                                    <td>
                                                        <input [ngxTimepicker]="sunsPicker" placeholder="start time">
                                                        <ngx-material-timepicker #sunsPicker></ngx-material-timepicker>
                                                    </td>
                                                    <td>
                                                        <input [ngxTimepicker]="sunePicker" placeholder="end time">
                                                        <ngx-material-timepicker #sunePicker></ngx-material-timepicker>
                                                    </td>
                                                </tr>

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <mat-action-row>
                    <button mat-button color="primary" (click)="nextStep()">Next</button>
                </mat-action-row>
            </mat-expansion-panel>

            <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <h6 class="text-primary">Add Rules</h6>
                    </mat-panel-title>
                </mat-expansion-panel-header>

                <form [formGroup]="filersFormGroup">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <div class="row">
                                    <div class="col-12 col-lg-8 col-xl-8">

                                    </div>

                                    <div class="col-12 col-lg-4 col-xl-4 pt-2">
                                        <button mat-raised-button color="primary" (click)="setStep(0)"
                                            class="rounded-pill">Create Filter</button>
                                    </div>

                                    <div class="col-12"></div>

                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>