<form [formGroup]="myFormGroup" *ngIf="edit; else newForm">
    <h1 mat-dialog-title>Edit Rule</h1>
    <mat-dialog-content>
        <div class="container-fluid">
            <div class="row g-2">
                <div class="col-12">
                    <mat-form-field class="ew-100" appearance="fill">
                        <mat-label>Description</mat-label>
                        <input matInput placeholder="Description" />
                    </mat-form-field>
                </div>
            </div>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
            Install
        </button>
    </mat-dialog-actions>
</form>

<!-- New Form -->
<ng-template #newForm>
    <h1 mat-dialog-title>Add Rule</h1>
    <mat-dialog-content>
        <mat-tab-group>
            <mat-tab label="Distribution Filter">
                <fieldset class="formFieldSet">
                    <div class="container-fluid pt-3">
                        <div class="row gx-2">
                            <div class="col-12">
                                <mat-form-field class="w-100" appearance="fill">
                                    <mat-label>Name</mat-label>
                                    <input matInput placeholder="Name" />
                                </mat-form-field>
                            </div>
                            <div class="col-12">
                                <mat-form-field class="w-100" appearance="fill">
                                    <mat-label>Description</mat-label>
                                    <input matInput placeholder="Description" />
                                </mat-form-field>
                            </div>
                            <div class="col-2 pb-3">
                                <label class="d-block">Active</label>
                                <mat-slide-toggle> </mat-slide-toggle>
                            </div>
                            <div class="col-2">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Type</mat-label>
                                    <mat-select>
                                        <mat-option>
                                            Work item history
                                        </mat-option>
                                        <mat-option>
                                            Default destination
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-12"></div>
                        </div>
                        <legend>Criteria</legend>
                        <div class="row" *ngFor="let item of [1,2,3,4]">
                            <div class="col-2">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Field Type</mat-label>
                                    <mat-select>
                                        <mat-option>
                                            Select
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field class="w-100" appearance="fill">
                                    <mat-label>Field Name</mat-label>
                                    <input matInput placeholder="Description" />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field class="w-100" appearance="fill">
                                    <mat-label>Operator</mat-label>
                                    <input matInput placeholder="Description" />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field class="w-100" appearance="fill">
                                    <mat-label>Value</mat-label>
                                    <input matInput placeholder="Description" />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Sequence</mat-label>
                                    <mat-select>
                                        <mat-option>
                                            Select
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <button mat-icon-button color="primary">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <button mat-icon-button color="warn">
                                    <mat-icon>remove</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </mat-tab>
            <mat-tab label="Associate Filter">
                <fieldset>
                    <div class="container-fluid pt-3">
                        <div class="row gx-2">
                            <div class="col-12">
                                <mat-form-field class="w-100" appearance="fill">
                                    <mat-label>Name</mat-label>
                                    <input matInput placeholder="Name" />
                                </mat-form-field>
                            </div>
                            <div class="col-12">
                                <mat-form-field class="w-100" appearance="fill">
                                    <mat-label>Description</mat-label>
                                    <input matInput placeholder="Description" />
                                </mat-form-field>
                            </div>
                            <div class="col-2 pb-3">
                                <label class="d-block">Active</label>
                                <mat-slide-toggle> </mat-slide-toggle>
                            </div>
                            <div class="col-2">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Type</mat-label>
                                    <mat-select>
                                        <mat-option>
                                            Work item history
                                        </mat-option>
                                        <mat-option>
                                            Default destination
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-12"></div>
                        </div>
                        <h6>Criteria</h6>
                        <div class="row g-2" *ngFor="let item of [1,2]">
                            <div class="col-2">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Field Type</mat-label>
                                    <mat-select>
                                        <mat-option>
                                            Select
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field class="w-100" appearance="fill">
                                    <mat-label>Field Name</mat-label>
                                    <input matInput placeholder="Description" />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field class="w-100" appearance="fill">
                                    <mat-label>Operator</mat-label>
                                    <input matInput placeholder="Description" />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field class="w-100" appearance="fill">
                                    <mat-label>Value</mat-label>
                                    <input matInput placeholder="Description" />
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Sequence</mat-label>
                                    <mat-select>
                                        <mat-option>
                                            Select
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <button mat-icon-button color="primary">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <button mat-icon-button color="warn">
                                    <mat-icon>remove</mat-icon>
                                </button>
                            </div>
                        </div>
                        <h6>Update task</h6>
                        <div class="row gx-2" *ngFor="let item of [1,2,3]">
                            <div class="col-2">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Field Type</mat-label>
                                    <mat-select>
                                        <mat-option>
                                            Select
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Field Name</mat-label>
                                    <mat-select>
                                        <mat-option>
                                            Select
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Update Field</mat-label>
                                    <mat-select>
                                        <mat-option>
                                            Select
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-2">
                                <mat-form-field appearance="fill" class="w-100">
                                    <mat-label>Field Value</mat-label>
                                    <input matInput placeholder="Field value">
                                </mat-form-field>
                            </div>
                            <div class="col-2"></div>
                            <div class="col-2">
                                <button mat-icon-button color="primary">
                                    <mat-icon>add</mat-icon>
                                </button>
                                <button mat-icon-button color="warn">
                                    <mat-icon>remove</mat-icon>
                                </button>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </mat-tab>
        </mat-tab-group>

    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button mat-dialog-close>Cancel</button>
        <button mat-button [mat-dialog-close]="true" cdkFocusInitial>
            Save Changes
        </button>
    </mat-dialog-actions>
</ng-template>